/*** Reset - CSS ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
}

/*** Body ***/
body {
    background-color: #eee;
}
/************/

/*** Container ***/
.container {
    max-width: 1280px;
    margin: auto;
    background-color: #fff;  
}
/*****************/

/*** Header ***/
header {
    position: fixed;
    border-bottom: 5px solid #FF914D;    
    box-shadow: 0 0 1em #999;
    width: 100%;
    background-color: #fff;     
}

header .container nav {
    display: flex;
    flex-direction: column;
    padding: 25px 15px 15px 15px;    
}

header .container nav .div-menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;      
}

header .container nav .div-menu-1 {    
    position: relative;
}

header .container nav .div-menu-1 div {    
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container nav .div-menu-1 div .btn-hamburger-mobile {    
    background-color: #fff;
    border: none;
}

header .container nav .div-menu-1 div .btn-hamburger-mobile span {    
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

header .container nav .div-menu-1 div .link-logo-empresa {
    display: none;
}

header .container nav .div-menu-1 div .link-logo-empresa-mobile img {
    width: 150px;
    margin-left: 20px;
}

header .container nav .div-menu-1 div .lista-menu {
    display: none;
}

header .container nav .div-menu-1 .link-carrinho {
    margin-right: 15px;    
}

header .container nav .div-menu-1 .link-carrinho span{
    color: #000;
    font-size: 40px; 
    transition: 0.3s;  
}

header .container nav .div-menu-1 .link-carrinho .img-carrinho:hover{
    color: #666;    
}

header .container nav .div-menu-1 .link-carrinho .qt-item-carrinho {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF914D;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
    top: -15px;
    right: 2px;
}

header .container nav .div-menu-2 {
    margin-top: 8px;
}

header .container nav .div-menu-2 .div-btn-departamentos{
    display: none;
}

header .container nav .div-menu-2 .div-barra-pesquisa {
    position: relative;
}

header .container nav .div-menu-2 .div-barra-pesquisa .barra-pesquisa {
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 12px;
    background-color: #eee;
    border: none;
    border-radius: 7px;
}

header .container nav .div-menu-2 .div-barra-pesquisa .icon-lupa {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #757575;
}
/**************/


/*** Footer ***/

/**************/


/******************* @media ****************************/

@media (min-width: 481px) {

    /*** Header ***/

    /**************/


    /*** Footer ***/

    /**************/
}


@media (min-width: 769px) {

    /*** Header ***/
    header .container nav {       
        padding: 15px 15px 15px 15px;    
    }

    header .container nav .div-menu-1 .link-carrinho span{        
        font-size: 60px;
        padding-top: 8px;
    }

    header .container nav .div-menu-1 .link-carrinho .qt-item-carrinho {       
        top: -5px;        
    }

    header .container nav .div-menu-1 div .btn-hamburger-mobile {    
        display: none;
    }

    header .container nav .div-menu-1 div .link-logo-empresa-mobile {
        display: none;
    }
    
    header .container nav .div-menu-1 div .link-logo-empresa {
        display: block;
    }

    header .container nav .div-menu-1 div .link-logo-empresa img{
        width: 150px;
    }

    header .container nav .div-menu-1 div .lista-menu {
        display: flex;
        align-items: center;
        margin-left: 70px;
        list-style-type:none;
    }

    header .container nav .div-menu-1 div .lista-menu li a{
        display: flex;
        align-items: center;
        color: #000;
        margin-left: 20px;
        text-decoration: none;
        transition: 0.3s;              
    }

    header .container nav .div-menu-1 div .lista-menu li a:hover {
        color: #666;
    }
    
    header .container nav .div-menu-1 div .lista-menu li a span{
        font-size: 50px;
        margin-bottom: 8px;
        margin-right: 8px;        
    }
    
    header .container nav .div-menu-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header .container nav .div-menu-2 .div-btn-departamentos {
        display: block;
        position: relative;
    }

    header .container nav .div-menu-2 .div-btn-departamentos .btn-departamentos {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 220px;
        padding: 6px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #333;
        transition: 0.3s;
    }

    header .container nav .div-menu-2 .div-btn-departamentos .btn-departamentos:hover {
        /*background-color: #eee;*/
        border-color: #ff904d;
    }

    header .container nav .div-menu-2 .div-btn-departamentos .btn-departamentos span {
        margin-right: 8px;
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

    header .container nav .div-menu-2 .div-btn-departamentos .btn-departamentos-seta-para-baixo {
        position: absolute;
        top: 4px;
        right: 3px;
    }

    header .container nav .div-menu-2 .div-barra-pesquisa {
        width: 100%;
        margin-left: 22px;        
    }
    /**************/


    /*** Footer ***/

    /**************/
}


@media (min-width: 1280px) {

    /*** Header ***/

    /**************/


    /*** Footer ***/

    /**************/    
}

/*******************************************************/


