/*@Alisson*/

/*** Main ***/
.testebackgroud
{
    display: flex;
    border: 2px solid rgb(255, 0, 179);
    width: 100%;
    height: 0%;
    flex-direction: column;
    color: red;
    justify-content: space-around;
}

h1
{
    display: flex;
    justify-content:center;
    padding-bottom: 1.5%;

}

.listaDaDireita
{
display: flex;
border: 2px solid rgb(133, 32, 32);
width: 80vw;
flex-direction: column;
justify-content: space-around;
margin: auto;
}

.itens_do_carrinho
{
    
    padding: 0%;
    border: 2px solid rgb(150, 158, 37);
    margin-bottom: 2%;
    height: 200px;
}

.bucador_de_cep
{
    padding: 1%;
    border: 2px solid blue;
    margin-bottom: 3%;
}

.listaDaEsquerda
{
    border: 2px solid blue;
    width: 100%;
    height: 100px;
    margin: auto;

}

.caixa_botao_de_exluir_item
{
   
display: flex;
justify-content: flex-end;
}

.botao_de_exluir_item
{
    background-color: #F59E3B;
    width: 20px;
    border-radius: 50%;
    border: none;
}

.primeira_sessao_de_itens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.valor_da_quantidade_de_itens_do_carrinho
{
    width: 10%;
}

.botao_de_menos_itens_do_carrinho
{
    width: 10%;
}

.botao_de_mais_itens_do_carrinho
{
    width: 10%;
}

.segunda_sessao_de_itens
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
}

    /************/

/******************* @media ****************************/

@media (min-width: 481px) {
    /*** Main "TELA DE MOBILE" ***/  
    .testebackgroud
    {
        display: flex;
        border: 2px solid rgb(15, 177, 15);
        width: 99%;
        height: 220px;
        
    }

    .listaDaDireita
{
border: 2px solid rgb(168, 23, 23);
width: 99%;
}

.listaDaEsquerda
{
    border: 2px solid blue;
    width: 99%;
    

}
    
    /************/
}


@media (min-width: 769px) {
    /*** Main "TELA DE TABLET" ***/

    .testebackgroud
    {
        display: flex;
        border: 2px solid blue;
        flex-direction: row;
        width: 99%;
        height: 220px;
    }

    h1
{
    padding-top: 1%;

}

.listaDaDireita
{
display: flex;
border: 2px solid rgb(150, 27, 119);
width: 70%;
padding: 1%;
flex-direction: column;
justify-content: space-around;
height: 99%;
}

.listaDaEsquerda
{
    border: 2px solid blue;
    width: 30%;
    height: 99%;
    

}

.linha_de_itens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segunda_sessao_de_itens
{

    margin-top: 0%;
}

.um_espacinho
{
    margin-left: 12%;
}
    /************/
}


@media (min-width: 1280px) {
    /*** Main   "TELA DE COMPUTADOR" ***/
    .testebackgroud
    {
        border: 2px solid blue;
        background-color: rgb(236, 226, 226);
        width: 99%;
        height: 220px;
    }
    /************/
}

/*******************************************************/
