<header>
    <div class="container">
        <nav id="nav-header">
            <div class="div-menu-1">
                <div>                        
                    <button id="btn-nav-mobile" class="btn-hamburger-mobile" aria-expanded="false" aria-controls="lista-nav-menu-mibile" aria-haspopup="true" aria-label="Abrir menu.">                            
                        <span class="material-icons-outlined span-btn-open">menu</span>
                        <span class="material-icons-outlined span-btn-close">close</span>
                    </button>

                    <ul class="lista-nav-menu-mobile" role="menu">
                        <li>
                            <a id="link-mobile-home" href="/">
                                <span class="material-icons-outlined">home</span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a id="link-mobile-experiencia" href="/usuarios/login">
                                <span class="material-icons-outlined">person</span>
                                Minha conta
                            </a>
                        </li>                        
                        <li>
                            <a id="link-mobile-conhecimentos" href="#">
                                <span class="material-icons-outlined">headset_mic</span>
                                Central de Atendimento
                            </a>
                        </li>                        
                        <!--li><a id="link-mobile-social" href="#social">SOCIAL</a></li>                        
                        <li><a href="#">CONTATO</a></li-->
                    </ul>

                    <a href="/" class="link-logo-empresa"><img src="/images/logo.svg" alt="Imagem Logo TopSales6"></a>
                    <a href="/" class="link-logo-empresa-mobile"><img src="/images/logo2.svg" alt="Imagem Logo TopSales6"></a>
                    
                    <ul class="lista-menu">
                        <li>
                            <a href="/usuarios/login"><span class="material-icons">account_circle</span>Minha Conta</a>
                        </li>
                        <li>
                            <a href="#"><span class="material-icons-outlined">headset_mic</span>Central de Atendimento</a>
                        </li>                            
                    </ul>
                </div>

                <a href="/carrinho" class="link-carrinho">
                    <span class="material-icons-outlined img-carrinho">shopping_cart</span>
                    <span class="qt-item-carrinho">0</span>
                </a>
            </div>


            <div class="div-menu-2">
                <div class="div-btn-departamentos">
                    <button class="btn-departamentos">
                        <span class="material-icons-outlined">menu</span> DEPARTAMENTOS
                        <ul class="submenu-departamentos">
                            <li class="submenu-departamentos-li-pc-gamer">
                                <a href="#">PC Gamer</a>
                                <span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-pc-gamer">
                                    <li><a href="#">Fast White</a></li>
                                    <li><a href="#">Red Force</a></li>
                                </ul>
                            </li>

                            <li class="submenu-departamentos-li-hardware">
                                <a href="#">Hardware</a>
                                <span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-hardware">
                                    <li><a href="#">Pl-Vídeo</a></li>
                                    <li><a href="#">Processador</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Smartphone</a></li>
                        </ul>
                        <span class="material-icons-outlined btn-departamentos-seta-para-baixo">arrow_drop_down</span>
                    </button>                        
                </div>
                <div class="div-barra-pesquisa">
                    <form action="#" method="POST">
                        <input class="barra-pesquisa" type="text" name="pesquisa-produto" placeholder="PESQUISE SEU PRODUTO">
                        <span class="material-icons-outlined icon-lupa">search</span>
                    </form>
                </div>                    
            </div>
        </nav>
    </div>
</header>