<header>
    <div class="container">
        <nav>
            <div class="div-menu-1">
                <div>                        
                    <button class="btn-hamburger-mobile">                            
                        <span class="material-icons-outlined">menu</span>
                    </button>
                    <a href="./index.html" class="link-logo-empresa"><img src="./img/logo.svg" alt="Imagem Logo TopSales6"></a>
                    <a href="./index.html" class="link-logo-empresa-mobile"><img src="./img/logo2.svg" alt="Imagem Logo TopSales6"></a>
                    <ul class="lista-menu">
                        <li>
                            <a href="./login.html"><span class="material-icons">account_circle</span>Minha Conta</a>
                        </li>
                        <li>
                            <a href="#"><span class="material-icons-outlined">headset_mic</span>Central de Atendimento</a>
                        </li>                            
                    </ul>
                </div>                    
                <a href="./carrinho.html" class="link-carrinho">
                    <span class="material-icons-outlined img-carrinho">shopping_cart</span>
                    <span class="qt-item-carrinho">0</span>
                </a>                                        
            </div>
            <div class="div-menu-2">
                <div class="div-btn-departamentos">
                    <button class="btn-departamentos">
                        <span class="material-icons-outlined">menu</span> DEPARTAMENTOS
                        <ul class="submenu-departamentos">
                            <li class="submenu-departamentos-li-pc-gamer">
                                <a href="#">PC Gamer</a>
                                <span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-pc-gamer">
                                    <li><a href="#">Fast White</a></li>
                                    <li><a href="#">Red Force</a></li>
                                </ul>
                            </li>

                            <li class="submenu-departamentos-li-hardware">
                                <a href="#">Hardware</a>
                                <span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-hardware">
                                    <li><a href="#">Pl-Vídeo</a></li>
                                    <li><a href="#">Processador</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Smartphone</a></li>
                        </ul>
                        <span class="material-icons-outlined btn-departamentos-seta-para-baixo">arrow_drop_down</span>
                    </button>                        
                </div>
                <div class="div-barra-pesquisa">
                    <form action="#" method="POST">
                        <input class="barra-pesquisa" type="text" name="pesquisa-produto" placeholder="PESQUISE SEU PRODUTO">
                        <span class="material-icons-outlined icon-lupa">search</span>
                    </form>
                </div>                    
            </div>
        </nav>
    </div>
</header>