<header id="navbar">
    <div class="container">
        <nav id="nav-header">
            <div class="div-menu-1">
                <div>                        
                    <button id="btn-nav-mobile" class="btn-hamburger-mobile" aria-expanded="false" aria-controls="lista-nav-menu-mibile" aria-haspopup="true" aria-label="Abrir menu.">                            
                        <span class="material-icons-outlined span-btn-open">menu</span>
                        <span class="material-icons-outlined span-btn-close">close</span>
                    </button>

                    <ul class="lista-nav-menu-mobile" role="menu">
                        <li>
                            <a id="" href="/">
                                <span class="material-icons-outlined">home</span>
                                Home
                            </a>
                        </li>

                        <% if(locals.usuarioEstaLogado == false) { %>
                            <li>
                                <a id="" href="/usuario/login">
                                    <span class="material-icons-outlined">person</span>
                                    Login
                                </a>
                            </li>
                        <% } %> 
                        
                        <% if(locals.usuarioEstaLogado == true) { %>
                            <li>
                                <a id="" href="/usuario/perfil">
                                    <span class="material-icons-outlined">person</span>
                                    Minha conta
                                </a>
                            </li>
                        <% } %>
                            
                        <li>
                            <a id="" href="#">
                                <span class="material-icons-outlined">headset_mic</span>
                                Central de Atendimento
                            </a>
                        </li>                        
                        <li id="li-sub-menu-mobile" class="li-departamentos" aria-expanded="false" aria-controls="lista-nav-sub-menu-mibile" aria-haspopup="true" aria-label="Abrir menu.">
                            <a id="sub-btn-mobile-departamentos" class="link-expandir-departamentos" href="#">
                                <div>
                                    <span class="material-icons-outlined">category</span>
                                    Departamentos
                                </div>
                                <span class="material-icons-outlined span-departamentos-seta-baixo">expand_more</span>
                                <span class="material-icons-outlined span-departamentos-seta-cima">expand_less</span>
                            </a>

                            <ul class="submenu-departamentos-mobile">
                                <li><a href="#">PC Gamer</a></li>   
                                <li><a href="#">Desktop</a></li>   
                                <li><a href="#">Notebook</a></li>   
                                <li><a href="#">Hardware</a></li>    
                                <li><a href="#">Smartphone</a></li>                               
                                <li><a href="#">Tablet</a></li>                               
                            </ul>
                        </li>
                        
                        <% if(locals.usuarioEstaLogado == true) { %>

                            <a class="btn-nav-logout-mobile" href="/usuario/logout">Sair</a>
                            
                        <% } %>     

                    </ul>

                    <a href="/" class="link-logo-empresa"><img src="/images/logo.svg" alt="Imagem Logo TopSales6"></a>
                    <a href="/" class="link-logo-empresa-mobile"><img src="/images/logo2.svg" alt="Imagem Logo TopSales6"></a>
                    
                    <ul class="lista-menu">
                        <% if(locals.usuarioEstaLogado == true) { %>

                            <li class="li-link-minhaConta-sair">
                                <a href="/usuario/login"><span class="material-icons imgBtnMenuNav">account_circle</span>Minha conta |</a>
                                <a class="link-sair" href="/usuario/logout">sair</a>
                            </li>
        
                        <% }%>

                        <% if(locals.usuarioEstaLogado == false) { %>

                            <li>
                                <a href="/usuario/login"><span class="material-icons imgBtnMenuNav">account_circle</span>Login</a>
                            </li>
        
                            
                        <% }%>                        

                        <li>
                            <a href="#"><span class="material-icons-outlined imgBtnMenuNav">headset_mic</span>Central de Atendimento</a>
                        </li>                                                   
                    </ul>
                </div>

                <a href="/carrinho" class="link-carrinho">
                    <span class="material-icons-outlined img-carrinho">shopping_cart</span>
                    <span id="img-carrinho" class="material-icons-outlined img-carrinho-2">shopping_cart</span>
                    <span class="qt-item-carrinho">0</span>
                </a>
            </div>


            <div class="div-menu-2">
                <div class="div-btn-departamentos">
                    <button class="btn-departamentos">
                        <span class="material-icons-outlined">menu</span> DEPARTAMENTOS
                        <ul class="submenu-departamentos">
                            <li class="submenu-departamentos-li-pc-gamer">
                                <a href="#">PC Gamer</a>
                                <!--span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-pc-gamer">
                                    <li><a href="#">Fast White</a></li>
                                    <li><a href="#">Red Force</a></li>
                                </ul-->
                            </li>

                            <li><a href="#">Desktop</a></li>   
                            <li><a href="#">Notebook</a></li>

                            <li class="submenu-departamentos-li-hardware">
                                <a href="#">Hardware</a>
                                <!--span class="material-icons-outlined">navigate_next</span>
                                <ul class="submenu-hardware">
                                    <li><a href="#">Pl-Vídeo</a></li>
                                    <li><a href="#">Processador</a></li>
                                </ul-->
                            </li>

                            <li><a href="#">Tablet</a></li>

                            <li><a href="#">Smartphone</a></li>
                        </ul>
                        <span class="material-icons-outlined btn-departamentos-seta-para-baixo">arrow_drop_down</span>
                    </button>                        
                </div>
                <div class="div-barra-pesquisa">
                    <form action="#" method="POST">
                        <input class="barra-pesquisa" type="text" name="pesquisa-produto" placeholder="PESQUISE SEU PRODUTO">
                        <span class="material-icons-outlined icon-lupa">search</span>
                    </form>
                </div>                    
            </div>
        </nav>
    </div>
</header>