<nav class="menu-lateral-area-restrita">                       
    <ul class="ul-menu-lateral">
        <li>
            <a href="/usuarios/perfil">
                <span class="material-icons">person</span>
                Minha Conta
            </a>
        </li>
        <li>
            <a href="/usuarios/meus-dados">
                <span class="material-icons">article</span>
                Meus Dados
            </a>
        </li>                            
    </ul>
</nav>