<nav class="menu-lateral-area-restrita">                       
    <ul class="ul-menu-lateral">
        <li>
            <a href="/usuario/perfil">
                <span class="material-icons">person</span>
                Minha Conta
            </a>
        </li>
        <li>
            <a href="/usuario/meus-dados">
                <span class="material-icons">article</span>
                Meus Dados
            </a>
        </li>   
        <li>
            <a href="/usuario/enderecos">
                <span class="material-icons-outlined">location_on</span>
                Endereço
            </a>
        </li>                           
    </ul>
</nav>