<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopSales6</title>
    <link rel="shortcut icon" href="/images/fivicon.ico">
    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
</head>
<body>    
    
    <%- include('./partials/header') %>

    

    <main class="paginaproduto">
        <div class="container">
            <div class="div-main-config-padrao">
                <div class="home-produto">
                    <p> HOME </p> 
                    <p> > </p>
                    <P> Produto </P>
                </div>
                <section>
                    <div class="img-nome-valor-comprar">
                        <div class="small-img">

                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="main-img">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="nome-valor-comprar">
                            <div class="nome-produto">
                                <p>PC Gamer Fast White + HeadSet <p>
                            </div>
                            <div class="valor-produto">
                                <p class="valor-anterior"> De: R$2.500,00 por:</p>
                                <p class="valor-atual"> R$2.299,00 à vista</p>
                                <p class="valor-parcelado"> 12x de R$191,58</p>
                            </div>

                            <button class="button-produto">

                                <span class="material-icons-outlined">shopping_cart</span>
                                Comprar
                            </button> 

                        
                        </div>

                    </div>
                    <div class="descricao-produto">
                        <p class="descricao-main">
                            Características do produto.
                        </p>
                        <p class="descricao-geral">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis velit rhoncus, tempor lorem a, tempor risus. Curabitur non odio et est blandit gravida sed sit amet purus. Quisque sodales ex quis velit gravida, sit amet congue sapien auctor. Sed et orci non metus maximus molestie nec nec lorem. Vestibulum gravida quam diam, a posuere nisl efficitur sit amet. Morbi malesuada massa dui, eu ullamcorper neque sagittis sit amet. Integer commodo pellentesque odio a sagittis. 
                        </p>

                    </div>
                    
                    
                
                    
                    
                    
                
                </section>
                <div class="veja-tambem">
                    <p>Veja também!</p>
                </div>
                <div class="mais-produtos">
                    <section class="produto">
                        <div class="img-produto">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="nome-produto">
                            <p class="nome-produto">PC Gamer Fast White + HeadSet</p>
                        </div>
                        <div class="valor-anterior">
                            <p class="valor-anterior">De: R$2.500,00 por:</p>
                        </div>
                        <div class="valor-atual">
                            <p class="valor-atual"> R$2.299,00 à vista </p>
                        </div>
                        <div class="valor-parcelado">
                            <p class="valor-parcelado"> 12x de R$191,58 </p>
                        </div>
                        <button class="button-produto">
                            <span class="material-icons-outlined" > shopping_cart</span>
                            Comprar
                        </button>


                    </section>
                    <section class="produto">
                        <div class="img-produto">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="nome-produto">
                            <p class="nome-produto">PC Gamer Fast White + HeadSet</p>
                        </div>
                        <div class="valor-anterior">
                            <p class="valor-anterior">De: R$2.500,00 por:</p>
                        </div>
                        <div class="valor-atual">
                            <p class="valor-atual"> R$2.299,00 à vista </p>
                        </div>
                        <div class="valor-parcelado">
                            <p class="valor-parcelado"> 12x de R$191,58 </p>
                        </div>
                        <button class="button-produto">
                            <span class="material-icons-outlined" > shopping_cart</span>
                            Comprar
                        </button>


                    </section>
                    <section class="produto">
                        <div class="img-produto">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="nome-produto">
                            <p class="nome-produto">PC Gamer Fast White + HeadSet</p>
                        </div>
                        <div class="valor-anterior">
                            <p class="valor-anterior">De: R$2.500,00 por:</p>
                        </div>
                        <div class="valor-atual">
                            <p class="valor-atual"> R$2.299,00 à vista </p>
                        </div>
                        <div class="valor-parcelado">
                            <p class="valor-parcelado"> 12x de R$191,58 </p>
                        </div>
                        <button class="button-produto">
                            <span class="material-icons-outlined" > shopping_cart</span>
                            Comprar
                        </button>


                    </section>
                    <section class="produto">
                        <div class="img-produto">
                            <img src="/images/pc-gamer-mais-peças.jpg" alt="">
                        </div>
                        <div class="nome-produto">
                            <p class="nome-produto">PC Gamer Fast White + HeadSet</p>
                        </div>
                        <div class="valor-anterior">
                            <p class="valor-anterior">De: R$2.500,00 por:</p>
                        </div>
                        <div class="valor-atual">
                            <p class="valor-atual"> R$2.299,00 à vista </p>
                        </div>
                        <div class="valor-parcelado">
                            <p class="valor-parcelado"> 12x de R$191,58 </p>
                        </div>
                        <button class="button-produto">
                            <span class="material-icons-outlined" > shopping_cart</span>
                            Comprar
                        </button>


                    </section>
                </div>

                
                
            </div>
        </div>
    </main>

    <footer>
        <div class="div-footer-config">
            <div class="div-informacoes">
                <div class="div-media-pagamento">
                    <img src="/images/logo.svg" alt="Imagem logo da empresa.">
                    <div class="div-social">
                        <ul>
                            <li><a href="#"><img src="/images/img-facebook.svg" alt="Imagem logo facebook"></a></li>
                            <li><a href="#"><img src="/images/img-twitter.svg" alt="Imagem logo twitter"></a></li>
                            <li><a href="#"><img src="/images/img-instagram.svg" alt="Imagem logo instagrm"></a></li>
                            <li><a href="#"><img src="/images/img-youtube.svg" alt="Imagem logo youtube"></a></li>
                            <li><a href="#"><img src="/images/img-linkedin.svg" alt="Imagem logo linkedin"></a></li>                            
                        </ul>
                    </div>
                    <div class="div-forma-pagamento">
                        <h3>Forma de Pagamento</h3>
                        <img src="/images/boleto.svg" alt="Imagem código de barra.">
                    </div>
                </div>
                <div class="div-fale-conosco-horarios">
                    <div class="div-fale-conosco">
                        <h3>Fale conosco</h3>
                        <p>
                            <span class="material-icons">phone</span>
                            (00) 0000-0000
                        </p>
                        <p>
                            <span class="material-icons">email</span>
                            sac@topsales6.com.br
                        </p>
                    </div>
                    <div class="div-horarios-atendimento">
                        <h3>Horários de atendimento</h3>
                        <p>Os atendimentos são realizados de <strong>Seg a Sex das 8h às 18h</strong> para atendimento telefônico.
                            As respostas envias por e-mail e pela Central de Atendimento são respondidas
                            de <strong>Seg a Sex 07h às 19h (fique atento a sua caixa de entrada de e-mail)</strong>.</p>
                    </div>
                </div>
                <div class="div-duvidas-institucional">
                    <div class="div-duvidas">
                        <h3>Dúvidas</h3>
                        <p>Para sanar suas dúvidas acesse nossa <strong>Central de Atendimento</strong> 
                        clicando no botão abaixo e envie sua mensagem.</p>                    
                        <a href="#">CENTRAL DE ATENDIMENTO</a>
                        
                    </div>
                    <div class="div-institucional">
                        <h3>Institucional</h3>
                        <a href="#">Sobre a TopSales6</a>
                    </div>
                </div>
            </div>
            <div class="div-receber-promocoes">
                <form action="#">
                    <input class="" type="email" name="email-enviar-promocao" placeholder="Digite seu E-mail e receba ofertas" required>
                    <button>Enviar</button>
                </form>
            </div>            
        </div>
        <div class="div-Copyright">
            <p>TopSalaes6 © Copyright 2022 - Todos os direitos reservados.</p>
        </div>
    </footer>    
</body>
</html>