.ul-barra-progresso-pedido {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin-bottom: 50px;
}

.ul-barra-progresso-pedido li {    
    padding: 6px;
    border: 3px solid #999;
    border-radius: 50%;
    background-color: white;    
    z-index: 1;    
}
.li-barra-progresso-pedido-concluido {
    border: 4px solid #8bc34a !important;
    background-color: #8bc34a !important;
    transition: 0.3s;
}
.li-barra-progresso-pedido-concluido:hover {
    box-shadow: 0 0 1rem #8bc34ad6 !important;
}
.li-barra-progresso-pedido-editando {
    border: 4px solid #8bc34a !important;
    background-color: #fff !important;
    box-shadow: 0 0 1rem #8bc34ad6 !important;
    transition: 0.3s;
}

.ul-barra-progresso-pedido li span {    
    color: #999;    
}
.span-barra-progresso-pedido-concluido {
    color: #fff !important;
}
.span-barra-progresso-pedido-editando {
    color: #8bc34a !important;
}

.div-linha-progresso-principal {
    position: absolute;
    display: flex;    
    flex-direction: row;       
    width: 80%;    
    top:50%;
}

.div-linha-progersso { 
    width: 25%;    
    border-bottom: 3px solid #999;
}

.div-linha-progersso-concluido {
    border-bottom: 4px solid #8bc34a;
}


