.h1_carrinho
{
    font-size: 20px;
}

.div_Carrinho_Pai
{
    display: flex;
    border: none;
   
    margin-bottom: 30px;
    padding: 0.3%;
}

.itens_da_lista
{
    list-style-type: none ;
}


.div_Caixa_Direita
{
    border: none;
    /*width: 70%;*/
    margin-right: 1.9%;
    padding-top: 0.9%;  
}
                        
.div_Caixa_Esquerda
{
    display: flex;
    flex-direction: column;
    border: none;
    width: 35%;
}

.separacao_de_itens_carrinho
{
    box-shadow: 3px 2px 10px 4px #888;
    margin-bottom: 1%;
}

.caixa_botao_de_exluir_item_carrinho
{
display: flex;
justify-content: flex-end;
padding: 1%;
}

.botao_de_exluir_item_carrinho
{
    background-color: #ccc;
    border-radius: 50%;
    border: none;
    padding: 5px;
    font-size: 0.875rem;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;

}

.botao_de_exluir_item_carrinho:hover
{
color: #ff3838;

}

.sessão_de_produtos
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.primeira_sessão_de_produtos
{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.primeira_sessão_de_produtos a
{
    font-size: 12px;
    text-decoration: none;
    color: #777;

}

.primeira_sessão_de_produtos img
{
    width: 120px;
}


.segunda_sessão_de_produtos
{
    display: flex;
    align-items: center;
    padding-right: 5%;
    
}

.bucador_de_cep_carrinho
{
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2%;
    box-shadow: 3px 2px 10px 4px #888;
}

.barra_pesquisa_cep_carrinho
{
    margin-top:1%;
    width: 60%;
    padding: 1%;
}

.form_pesquisa_cep_carrinho
{
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 0px;
}

.form_pesquisa_cep_carrinho input
{
    padding: 15px;
    width: 70%;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px;
    border: 1px solid #999;
}

.form_pesquisa_cep_carrinho button
{
    padding: 15px;
    width: 30%;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #999;
    margin-left: -2px;
    cursor: pointer;
    background-color: #00A000;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.form_pesquisa_cep_carrinho button:hover
{
    background-color: #017a01;
}


.caixa_continuar_comprando
{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.continuar_comprando_carrinho
{
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    padding: 20px;
    box-shadow: 3px 2px 10px 4px rgb(136, 136, 136);
    text-decoration: none;
    color: rgb(252, 249, 249);
    background-color: #FF914D;
    font-weight: bold;
    border-radius: 7px;
    transition: 0.3s;
   
}

.continuar_comprando_carrinho:hover
{
    background-color: #e57f40;
    box-shadow: 5px 3px 12px 5px rgb(116, 116, 116);
}



.subtotal_carrinho
{
    margin-top: 5%;
    box-shadow: 3px 2px 10px 4px #888;
    padding: 4%;
}


.subtotal_filho_carrinho
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

.valor_frete_carrinho
{
    display: flex;
    justify-content: space-between;
}

.total_carrinho
{
    padding: 4%;
    margin-top: 2%;
    box-shadow: 3px 2px 10px 4px #888;
}

.valor_total_carrinho
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%; 
}

.caixa_finalizar_pedido_carrinho
{
    display: flex;
    justify-content: center;
    box-shadow: 3px 2px 10px 4px #888;
    text-decoration: none;
    background-color: #00A000;
    box-shadow: 3px 2px 10px 4px rgb(136, 136, 136);
}

.caixa_finalizar_pedido_carrinho:hover
{
    background-color: #038f03;
    box-shadow: 5px 3px 12px 5px rgb(116, 116, 116);
}


.botao_finalizar_pedido_carrinho
{
    padding: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(247, 244, 244);
    font-weight: bold;
    border-radius: 7px;
    transition: 0.3s;
    
}



.quantidade_de_itens_do_carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.valor_da_quantidade_de_itens_do_carrinho
{
    width: 30px;
   margin-left: 5px;
   margin-right: 5px;
}



@media (max-width: 990px) {


    .div_Carrinho_Pai {
        display: flex;
        flex-direction: column;
    }

    .sessão_de_produtos {

        flex-direction: column;
        padding: 5%;
    }

    .div_Caixa_Direita {
        border: none;
        width: 100%;
        margin-right: 1.9%;
        padding-top: 0.9%;
    }

    .div_Caixa_Esquerda {
        display: flex;
        flex-direction: column;
        border: none;
        width: 100%;   
    }

    .quantidade_de_itens_do_carrinho{
        flex-direction: row;

    }

    .segunda_sessão_de_produtos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

}


@media (max-width: 481px) {
   
    .form_pesquisa_cep_carrinho button
    {
        font-size: 0.75rem;
        padding: 17.5px;
    }
  
}