.titulo-meus-enderecos {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.titulo-meus-enderecos span {
    margin-right: 5px;
    font-size: 2rem;
}


.form-enderecos {
    display: flex;
    flex-direction: column;
}

.form-enderecos .div-rua-nunero {    
    margin-bottom: 0;        
}

.form-enderecos div {
    margin-bottom: 25px;
}

.form-enderecos div label {
    font-size: 0.875rem;
}

.form-enderecos div input {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 7px;
}

.form-enderecos div .msg-erro-form-endereco {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.875rem;
    color: #c0392b; 
}

.form-enderecos div .msg-erro-form-endereco b {
    font-size: 0.875rem;
    text-transform: capitalize;
}


.form-enderecos div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #aaa;
}

.form-enderecos div input::-moz-placeholder { /* Firefox 19+ */
    font-size: 13px;
    color: #aaa;
}

.form-enderecos div input:-ms-input-placeholder { /* IE 10+ */
    font-size: 13px;
    color: #aaa;
}

.form-enderecos div input:-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    color: #aaa;
}

.form-enderecos .div-complemento-cep-bairro, .form-enderecos .div-cidade-estado {
    margin-bottom: 0;
}



.form-enderecos .div-autoriza-promocoes {
    margin-bottom: 60px;
}

.form-enderecos .div-autoriza-promocoes input {
    width: auto;
    margin-right: 5px;
}

.form-enderecos .div-btn-atualiza-endereco {
    margin-bottom: 0;
}

.form-enderecos .div-btn-atualiza-endereco button {
    width: 100%;
    padding: 10px;
    border: 1px solid #3498DB;
    border-radius: 7px;
    color: #fff;
    background-color: #3498DB;
    font-size: 0.75rem;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
    
}

.form-enderecos .div-btn-atualiza-endereco button:hover {   
    background-color: #3482b6;   
}


.titulo-meus-enderecos {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.botao_adiciona_endereco {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    background-color: #198754;
    color: white;
    width: 250px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 7px;
}

.botao_adiciona_endereco:hover{
    background-color: #157347
    
}

.div_card_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_endereco{
    display: flex;
    flex-direction: row;
    align-items: center;    
    list-style: none;
    box-shadow: 1px 2px 5px 2px #888;
    border-radius: 7px;
    margin-top: 30px;    
    background-color: white;
    width: 100%;
    transition: 0.6s;    
}

.card_endereco:hover{
    box-shadow: 2px 3px 8px 4px #888;
}

.card_endereco .div-icon-endereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    background-color: #2980b9;
    height: 100%;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    color: #fff;
}

.card_endereco .div-icon-endereco span {
    font-size: 1.563rem;
}

.card_endereco ul{
    list-style: none;
    padding: 20px;
    width: 100%;
    
}

.card_endereco ul li{
    margin-top: 5px;
    color: #333;
}

.card_endereco ul li b{
    color: #555;

}

.card_endereco .div-btn-edicao-delete {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.card_endereco form button{    
    padding: 5px;
        
    margin-top: 20px;    
    color: white;    
    border-radius: 7px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

.card_endereco .form-btn-editar-endereco button{
    margin-right: 5px;
    background-color: #337ab7;
}

.card_endereco .form-btn-editar-endereco button:hover {
    background-color: #2e6da4;
}

.card_endereco .form-btn-deletar-endereco button{
    background-color: #d9534f;
}

.card_endereco .form-btn-deletar-endereco button:hover {
    background-color: #d43f3a;
}

/******************* @media ****************************/

@media (min-width: 769px) {
    .form-enderecos .div-complemento-cep-bairro, .form-enderecos .div-cidade-estado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-enderecos .div-complemento-cep-bairro .div-complemento,
    .form-enderecos .div-complemento-cep-bairro .div-cep, 
    .form-enderecos .div-cidade-estado .div-cidade {
        margin-right: 30px;

    }

    .form-enderecos .div-rua-nunero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;              
    }

    .form-enderecos .div-rua-nunero .div-rua {
        width: 80%;
    }
    
    .form-enderecos .div-rua-nunero .div-numero {
        width: 20%;
    }

    .form-enderecos .div-rua-nunero .div-rua {
        margin-right: 30px;
    }

    .form-enderecos .div-complemento-cep-bairro .div-complemento {
        width: 40%;
    }

    .form-enderecos .div-complemento-cep-bairro .div-cep {
        width: 20%;
    }

    .form-enderecos .div-complemento-cep-bairro .div-bairro {
        width: 40%;
    }


    .form-enderecos .div-cidade-estado .div-cidade {

        width: 85%;
    }

    .form-enderecos .div-cidade-estado .div-estado {

        width: 15%;
    }



}

@media (min-width: 1280px){

    .card_endereco{
        width: 48%;
    }


}