/*@Matheus*/

/*** Main ***/

#login-container{
    width: 350px;
    border: none;
    height: 250px;
    padding: 0%;
    margin: 30%;
}

#form{


}

label, input{
    display: block;
    width: 90%;
    height:20%;
    text-align: left;
    border-radius: 10px;
}  

label{
    font-weight: bold;
}


#botao-login-entrar{
text-align: center;
text-transform: uppercase;
font-weight: bold;
border: none;
height: 40px;
width: 100px;
border-radius: 20px;
color: #323232;
background-color: #00A000;
cursor: pointer;

   
}

#botao-login-criar_conta{
color: #F59E3B;


}




/************/

/******************* @media ****************************/

@media (min-width: 481px) {
    /*** Main ***/

    /************/
}


@media (min-width: 769px) { 
    /*** Main ***/

    /************/
}


@media (min-width: 1280px) {
    /*** Main ***/

    /************/
}

/*******************************************************/