/*@Matheus*/

/*** Main ***/

.main-login form{
    width: 300px;
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 3px 2px 10px 4px #888;
    border-radius: 8px;

}

.main-login form input{
    border: 1px solid #999;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 15px;

}
.main-login form label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
    text-align: left;
    }

.main-login form label span{
    margin-right: 5px;
}

.main-login form .botao-login-entrar{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: #00A000;
    cursor: pointer;
    }
    
    .main-login form .botao-login-criar_conta{
    color: #F59E3B;
    margin-left:35px;
}









/***.login-container{
    width: 350px;
    border: none;
    height: 250px;
    padding: 0%;
    margin: 30%;
}

.form{


}

label, input{
    display: block;
    width: 90%;
    height:20%;
    text-align: left;
    border-radius: 10px;
}  

label{
    font-weight: bold;
}


.botao-login-entrar{
text-align: center;
text-transform: uppercase;
font-weight: bold;
border: none;
height: 40px;
width: 100px;
border-radius: 20px;
color: #323232;
background-color: #00A000;
cursor: pointer;

   
}

.botao-login-criar_conta{
color: #F59E3B;


}/***




/************/

/******************* @media ****************************/

@media (min-width: 481px) {
    /*** Main ***/

    /************/
}


@media (min-width: 769px) { 
    /*** Main ***/

    /************/
}


@media (min-width: 1280px) {
    /*** Main ***/

    /************/
}

/*******************************************************/