/*@Nathaly*/

/*** Main ***/

/************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
}

main .main-pedido-concluido {
    display: flex;
}

main .conteudo {
    display: flex;
    margin: 5px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 2px 1px 5px 2px #888;
}

main .conteudo .div-pedido-concluido {
    justify-items: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

main .pedido-concluido {
    text-align: center;
    background-color: rgb(233, 231, 227);
    padding: 10px;
}

main .realizado-com-sucesso {
    text-align: center;
}

main .informacoes-pedido {
    text-align: left;
}

main .btn-gerar-boleto {
    text-align: center;
    background-color: rgb(233, 231, 227);
    padding: 10px;
    border-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

main .main-pedido-concluido .btn-gerar-boleto :hover {
    background-color: #ed7d31;
}


a:link {
    color: black;
    text-decoration: none;
}


/******************* @media ****************************/

@media (min-width: 481px) {
    /*** Main ***/

    /************/
}


@media (min-width: 769px) {
    /*** Main ***/

    /************/
}


@media (min-width: 1280px) {
    /*** Main ***/

    /************/
}

/*******************************************************/